<div class="container">
  <h1>Multi text file parser</h1>

  <form [formGroup]="myForm" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="file">File</label>
      <input
        formControlName="file"
        id="file"
        type="file"
        multiple
        class="form-control"
        (change)="onFileChange($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>


   <div *ngFor="let item of myMap | keyvalue">
      <b>{{item.key}} :</b>
    <div *ngFor="let innerItem of item.value | keyvalue">
       <b>{{innerItem.key}}</b> = <b>{{innerItem.value}}</b>
      </div>
</div>

